$white: #ffffff;
$black: #170c04;
$black-special: #140a03;
$gray: rgba($black, 0.6);
$orange: #e27b3a;
$light-orange: #fcf2eb;
$blue: #2e96ff;

$color-primary: $orange;

$font-primary: "Roboto", "Arial", sans-serif;
$font-secondary: "Poppins", "Tahoma", sans-serif;
